// Place all the styles related to the Baby controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.names-list {
  min-height: 70vh;
  border: 2px solid #737373;
  border-radius: 10px;
}
